html {
    scroll-behavior: smooth;
}

h2{
    color: #FC7519;
    text-transform: uppercase;
}
h1, h3, h6 {
    text-transform: uppercase;
}
h3{
    color: #0b2157;
}
a {
    color: white;
<<<<<<< HEAD
    transition: 0.1s ease-in;
=======
>>>>>>> main
}
a:hover {
    color: rgba(171, 6, 77, 1);
    text-decoration: none;
<<<<<<< HEAD
    transition: 0.1s ease-in;
=======
>>>>>>> main
}
ul{
    font-size: 17px;
    list-style-type: none;
}
<<<<<<< HEAD

=======
>>>>>>> main
.footer-text {
    font-size: 17px;
    font-weight: 300;
    color: white;
}
.text-cv {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color:rgb(139, 125, 114);
}
.footer-panel {
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    min-height: 162px;
    background-color: black;
}
#dropdown-menu>a {
    background-color: rgba(0, 0, 0, 0.0);
    color: rgb(255, 255, 255);
}
#dropdown-menu>a:hover {
    color: rgba(171, 6, 77, 1);
}
/* FONTS ET ALIGNEMENTS GÉNÉRAUX */
.display-4 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
.taille-ecran {
    height: 100vh
}
/* COLORS! */
.big-panel {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.border-black {
    border: 2px solid rgb(0, 0, 0);
}
.border-right {
    border-right: 2px solid rgb(0, 0, 0);
}

.bg-black25 {
    background-color: rgba(0, 0, 0, 0.25);
}
.white {
    color: #fff
}
.pink {
    color: rgb(235, 0, 102);
}
.blue {
    color: #0b2157;
}

.yellow{
    color: rgba(252, 117, 25, 1)
}


.btn-default {
    color: #FFF;
    border: none;
}

.btn:hover{
    color: rgba(171, 6, 77, 1);
    border-color: #31347B;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(194, 178, 164)
}
.input-style {
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0px;
    padding: 0;
    box-shadow: none !important;
    border: 2px 0px 0px !important;
    color: white !important;
}
.form-width {
    max-width: 800px;
}
.btn-width {
    width: 100%;
}
/* BACKGROUND-COLOR */

.bg-black {
    background-color: rgba(0, 0, 0, 1);
}
.bg-black25 {
    background-color: rgba(0, 0, 0, 0.25);
}
.bg-black50 {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-black75 {
    background-color: rgba(0, 0, 0, 0.75);
}

.color-motion {
    animation: blinking 10s infinite;
}
@keyframes blinking {
    0% {
        color: rgba(0, 0, 0, 0.5)
    }
    33% {
        color: rgba(235, 0, 0, 0.5)
    }
    66% {
        color: rgba(252, 117, 25, 1)
    }
    100% {
        color: rgba(0, 0, 0, 0.5)
    }
}
.bg-stripped {
    background-image: repeating-linear-gradient(5deg, rgba(235, 0, 102, 0.25), rgba(235, 0, 102, 0.25) 150px, rgb(240, 240, 240) 150px, rgba(240, 240, 240) 5000px)
}
.bg-stripped-reverse {
    background-image: repeating-linear-gradient(-5deg, rgba(0, 38, 137, 0.75), rgba(0, 38, 137, 0.75) 200px, rgba(240, 240, 240)200px, rgba(240, 240, 240) 5000px)
}
.border-gradient-right {
    border-right: 0px solid;
    border-image-source: linear-gradient(135deg, rgba(255, 255, 255), rgba(255, 255, 255) 50%, rgba(235, 0, 102, 0.25));
    border-image-slice: 1;
}
.border-gradient-left {
    border-left: 0px solid;
    border-image-source: linear-gradient(-135deg, rgba(255, 255, 255), rgba(235, 0, 102, 0.25));
    border-image-slice: 1;
}

.border-gradient-yellowpink{
    border: 5px solid;
    border-image-source: linear-gradient(145deg, #FC7519, #AB064D, #62037A);
    border-image-slice: 1;
}

.separateur {
    min-height: 100px;
}

/* IMAGES */
.jeanphilippejutrasblanc {
    background-image: url(/IMG/jeanphilippejutrasblanc.svg);
    background-position: center;
    min-height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 60%;
    margin-top: 75px;
<<<<<<< HEAD
    transition: 0.5s ease-in;
}

.jeanphilippejutrasblanc:hover {
    opacity: 100%;
    transition: 0.5s ease-in;
=======
>>>>>>> main
}

.jeanphilippejutrasnoir {
    width: 400px;
    opacity: 75%;
}

.jeanphilippejutrasblancmini {
    background-size: 50%;
    min-width: 500px;
}

.jplogo{
    width:40px;
}

.garneauicon{
    width: 25px;
}

.img-profil {
    width: 150px;
    opacity: 75%;
}

.title-panel{
    background-color: rgb(73, 73, 73);
    border: 5px solid #000
}

.jellyfish1 {
    background-image: linear-gradient(rgba(98, 3, 122, 0.3), rgba(252, 117, 25, 0.3), rgba(0, 0, 0, 1)), url("/IMG/jellyfishpink.jpg");
    background-repeat: no-repeat;
}

.jellyfish2 {
    background-image: linear-gradient(rgba(98, 3, 122, 0.5), rgba(252, 117, 25, 0.5), rgba(0, 0, 0, 1)), url("/IMG/jellyfishblue.jpg");
    background-repeat: no-repeat;
}

.min-width {
    width: 810px;
}

<<<<<<< HEAD
#chevron {
    transform: scale(1.5);
    transition: 0.1s ease-out;
}

#chevron:hover {
    transform: scale(2);
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in;
}

#chevron::before{
    background-color: #000;
=======
#chevron:hover {
    color: rgb(255, 255, 255);
>>>>>>> main
}

.social-icons-size {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}

<<<<<<< HEAD
.element_hidden, .element_hidden2 {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.element_appear {
    opacity: 1;
    transform: translateY(0px);
}

/* The Modal (background) */
.formulaire_infolettre {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.modal-header {
  padding: 2px 16px;
  background-color: rgba(171, 6, 77, 1);
  color: white;
}

.modal-body {padding: 2px 16px;
background-color: rgb(73, 73, 73);;}




=======
>>>>>>> main
/* UTILS */

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.letter-spacing {
    letter-spacing: 10px
}
/*MEDIA QUERY*/

@media only screen and (min-width: 768px) {
    .jeanphilippejutrasblanc{
        min-height: 210px;
    }
    p {
        font-size: 1.5rem;
    }
    .text-cv {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .media-text-right{
        text-align: end;
    }
    .border-gradient-right{
        border-right: 1px solid;
    }
    .border-gradient-left{
        border-left: 1px solid
    }
<<<<<<< HEAD
}

.boite{
    min-width: 250px;
    min-height: 250px;
    position: absolute;
    left:0%;
    top:0%;
    border-radius:0;
    background-color: blue;
    border: 4px solid black;
    animation: monAnimation 5s ease-in 1s infinite;
    /* animation-play-state:paused; */
}

.boite:hover{
    animation-play-state:running;
}
@keyframes monAnimation{
 
    12.5%{
        left:41.75%;
        top:4%;
    }

    25%{
        left:83.5%;
        top:0%;
        border-radius:50%;
        background-color: blue;
        transform: rotate(-90deg);
    }

    
    50%{
        left:83.2%;
        top:64.7%;
        border-radius:50;
        background-color: red;
        transform: rotate(-180deg);
    }
    75%{
        left:0%;
        top:64.7%;
        border-radius:0;
        background-color: rgb(255, 230, 0);
        transform: rotate(-270deg);
    }
    100%{
        left:0%;
        top:0%;
        border-radius:0;
        background-color: blue;
        transform: rotate(-360deg);
    }
}

/* 
.background{
        background-color: blueviolet;
        background-image: url(/IMG/mondrian-painting.jpg);
        size:200%;
        margin:0;
        height:200vh;
        animation: rotationJP 20s ease-in 1s infinite;
        background-repeat: repeat;
}
 */
@keyframes rotationJP{
    0%{
        transform: rotate(0deg)
    }

    50%{
        transform: rotate(-180deg)
    }
    100%{
        transform: rotate(-360deg)
    }

.nomargin{
    margin:0;
}

=======
}
>>>>>>> main
